<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>CCSSite</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
		.main-page {text-align: center}
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>DashBoard</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/edit" class="btn btn-default btn-sm">Edit Profile</a>
	</div>

	<%if(message == 1){%>
	<div class="alert alert-success" role="alert">
		Profile updated. Changes will be reflected shortly.
	</div>
	<%}%>
	<%if(message == 2){%>
	<div class="alert alert-success" role="alert">
		Correct!!!
	</div>
	<%}%>
	<div class="row">



		<!-- FACEBOOK INFORMATION -->
		<div class="col-md-6">
			<div class="well main-page">
				<h3 class="text-default"><span class="fa fa-anchor"></span>Your Info</h3>

					<p>
						<img src="<%=user.fb.photo%>"><br>
						<strong>id</strong>: <%= user.fb.id %><br>
						<strong>email</strong>: <%= user.fb.email %><br>
						<strong>name</strong>: <%= user.fb.firstName%> <%=user.fb.lastName%><br>
						<strong>Phone No</strong>: <%=user.phone_no%>

					</p>

			</div>
		</div>
		<div class="col-md-6">
			<div class="well main-page">
				<h3>Techical Quiz</h3>
				<button name="Take It!" >Take It!!</button>
				<h3>Management Quiz</h3>
				<button name="Take It!" >Take It!!</button>
				<h3>Creativity Quiz</h3>
				<button name="Take It!">Take It!!</button>
				<h3>PreQuestion</h3>
				<a href="/pre-quiz" class="btn btn-default">Take It!!</a>
			</div>
		</div>
	</div>

</div>
</body>
</html>
