<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>CCSSite</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/edit" class="btn btn-default btn-sm">Edit Profile</a>
	</div>

	<div class="row">



		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

					<p>
						<img src="<%=user.fb.photo%>"><br>
						<strong>id</strong>: <%= user.fb.id %><br>
						<strong>email</strong>: <%= user.fb.email %><br>
						<strong>name</strong>: <%= user.fb.firstName%> <%=user.fb.lastName%><br>
						<strong>Phone No</strong>: <%=user.phone_no%>

					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
