<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>CCSSite</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--stylesheets-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">


</head>
<body id="home_profile">
    
        <div class="bg bg_dash">
            <div class="infinite_roll">
            </div>
        </div>
    
<div class="container">

	<div class="page-header text-center">
		<h1>DashBoard</h1>
        <nav class="dashboard_nav">
        <li><a class="strike" href="/edit">Edit Profile</a></li>
        <li><p>|</p></li>
        <li><a class="strike" href="/logout">Logout</a></li>
        </nav>
	</div>

	<%if(message == 1){%>
	<div class="alert alert-success" role="alert">
		Profile updated. Changes will be reflected shortly.
	</div>
	<%}%>
	<%if(message == 2){%>
	<div class="alert alert-success" role="alert">
		Correct!!!
	</div>
	<%}%>
	<div class="row">



		<!-- FACEBOOK INFORMATION -->
		<div class="col-lg-12 col-md-12 ">
			<div class="well main-page">
				    <div class="row">

                        <div class="col-md-6 ">
                        <nav class="profile_nav">
                        <li><strong class="dash_field">Name</strong>: <%= user.fb.firstName%> <%=user.fb.lastName%></li>
                        <li><strong class="dash_field">Id</strong>: <%= user.fb.id %></li>
                        <li><strong class="dash_field">Registration No</strong>: <%=user.reg_no%></li>
                        <li><strong class="dash_field">e-mail</strong>: <%= user.fb.email %></li>
				        <li><strong class="dash_field">Contact no.</strong>: <%=user.phone_no%></li>
                        </nav>  
                        </div>
                        
                        <div class="col-md-6">
                            <div class="bb">
                        <img class="dp" src="<%=user.fb.photo%>">
                        </div>
                        </div>
			         </div>
		    </div>
		<div class="col-md-12">
			<div class="main-page">
				<%if(((user.crea_taken == true) && (user.crea_taken == true) && (user.crea_taken == true)) == false){%>
				<%}%>

                                <nav class="category_nav">
									<%if(user.tech_taken == false){%>
                                        <li><a class="dash_cat strike" name="Take It!" href="/quiz/tech">Techical</a></li>
										<%}%>
									<%if(user.mang_taken == false){%>
										<li><a class="dash_cat strike" name="Take It!" href="/quiz/mang">Management</a></li>
										<%}%>
									<%if(user.crea_taken == false){%>
										<li><a class="dash_cat strike" name="Take It!" href="/quiz/crea">Creative</a></li>
									<%}%>
									<%if((user.crea_taken == true) && (user.crea_taken == true) && (user.crea_taken == true)){%>
									<li>You are all done</li>
									<%}%>
								 </nav>
			</div>
		</div>
	   </div>

</div>
    </div>
    
            <script src="/stylesheets/style.js"></script>
    
</body>
</html>
